:root {
  --slidev-code-padding: 8px 10px;
  --slidev-code-background: #16161690 !important;
}

h6 {
  text-transform: initial !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
}

.dark #slide-content {
  background-color: black !important;
}
